---
page_styles:
  - assets/home.css
  - assets/academic-profile.css
  - assets/beyond-lab.css
---
{% include sections/hero.html %}
{% include sections/about.html %}
{% include sections/academic-profile.html %}
{% include sections/research-areas.html %}
<!-- {% include sections/experience.html %} -->
{% include sections/projects.html %}
{% include sections/marquee.html %}
{% include sections/publications.html %} 
<!-- {% include sections/beyond-lab.html %} -->
{% include sections/contact-faq.html %}
{% include sections/footer.html %}
