<section class="about-section" id="about">
  <div class="about-img">
    <img class="cover-image cover-image-absolute" src="assets/ebony-pearson.jpeg" alt="Ebony Pearson, Ph.D.">
  </div>

  <div class="about-text">
    <div>
      <div class="big-heading">{{ site.data.experience_intro.heading }}</div>
    </div>
    <p>{{ site.data.experience_intro.paragraph1 }}</p>
    
    <div class="about-education">
      <div class="about-edu-item">
        <!-- <span class="about-edu-icon">🎓</span> -->
        <div class="about-edu-content">
          <strong>PhD in Cognitive Psychology, 2026</strong>
          <span>Vanderbilt University</span>
        </div>
      </div>
      <div class="about-edu-item">
        <!-- <span class="about-edu-icon">🎓</span> -->
        <div class="about-edu-content">
          <strong>MS in Cognitive Psychology, 2023</strong>
          <span>Vanderbilt University</span>
        </div>
      </div>
      <div class="about-edu-item">
        <!-- <span class="about-edu-icon">🎓</span> -->
        <div class="about-edu-content">
          <strong>BA in Linguistics, 2019</strong>
          <span>The University of Tennessee</span>
        </div>
      </div>
    </div>
    <p>{{ site.data.experience_intro.paragraph2 }}</p>
    <a class="btn btn-fill" href="#contact">Get in Touch</a>
  </div>
</section>
